.slider {
  position: relative;
  overflow: hidden;
  .slick-dots {
    height: 100px;
    width: 100%;
    display: flex;
    backdrop-filter: blur(10px);
    transform: translateY(-28%);

    li {
      margin: 0 auto;
      width: 12%;
      height: 100%;
      margin: 0 10px;
    }
    .thumbnail {
      width: 100%;
      height: 70%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .icon {
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }
  }
}
.slick-slider {
  margin-top: 50px;
  margin-bottom: 100px;
}
