@import "../../theme/variables.scss";

.sliderr {
  height: 100%;
}
.skins-wrapper {
  h4 {
    height: 100px;
    text-align: center;
    font-size: $title-size;
    font-family: $titlesFont;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px double $dark-gold;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: $goldenrod;
  }
  .slick-list {
    height: 100%;
  }
  .slick-dots {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    position: static;
    li {
      height: 5%;
      width: 10%;

      .thumbnail {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
}

@media (max-width: 900px) {
  .skins-wrapper {
    h4 {
      font-size: 24px;
    }
  }
}
@media (max-width: 720px) {
  .skins-wrapper {
    h4 {
      font-size: 24px;
    }
  }
}
@media (max-width: 480px) {
  .skins-wrapper {
    h4 {
      font-size: 19.2px;
    }
  }
}
@media (max-width: 375px) {
}
