$title-size: 30px;
$lora: "Lora", serif;

.skills {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  color: white;
  list-style: none;
  text-align: center;
  font-family: "Courgette", cursive;
  span {
    font-size: 36px;
  }
  h2 {
    font-size: $title-size;
    font-family: $lora;
    margin-top: 50px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin-bottom: 0px;
  }

  &__panel {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    border: 1.8px solid rgb(72, 0, 0);
    border-bottom: none;
    padding-top: 20px;
    list-style: none;

    li {
      cursor: pointer;
      height: 64px;

      &:hover {
        box-shadow: 1px 0px 20px 5px rgb(255, 255, 255);
        transition: 0.5s;
      }
    }
    img {
      border-radius: 5px;
    }
  }
  &__display {
    background-color: rgba(72, 0, 0, 0.5);
    max-width: 1436.8px;
    display: flex;
    height: 360px;
    width: 100%;
    border: 1.8px solid rgb(72, 0, 0);
    // background-position: right;
    // background-repeat: no-repeat;
    background-size: 70%;
    border-right: none;
    border-left: none;

    div {
      transition: 1s;
      display: flex;
    }
    span {
      margin: auto auto;
    }

    .description-wrapper {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      text-align: start;
      padding-left: 20px;
      padding-top: 20px;

      :nth-child(2) {
        font-size: 24px;
        color: rgb(206, 138, 138);
      }
      div {
        padding: 7px 0;
      }
    }
  }
}
.chart-container {
  width: 420px;
  height: 400px;
}
