.tips {
  display: flex;
  justify-content: space-between;
  font-family: "Lora", serif;
  gap: 1%;

  div {
    font-size: 30px;
    text-align: center;
    border: 1.8px solid gray;
    border-bottom: none;
    color: white;
    padding: 20px 0;
    text-transform: uppercase;
  }
  &__ally {
    color: white;
    max-width: 50%;
    list-style: none;
    margin-bottom: 10px;
    padding-left: 0px;
    .tips-ally__title {
      color: white;
      border-color: greenyellow;
      background-color: rgb(83, 131, 11);
    }

    li {
      padding: 20px;
      font-size: 18px;
      border-left: 1.8px solid greenyellow;
      border-right: 1.8px solid greenyellow;
      background-color: rgba(111, 175, 14, 0.3);
    }
  }
  &__enemy {
    max-width: 50%;
    margin-bottom: 10px;
    padding-left: 0px;
    color: white;
    list-style: none;
    .tips-enemy__title {
      color: white;
      border-color: red;
      background-color: rgb(117, 13, 13);
    }
    li {
      padding: 20px 20px 20px 20px;
      font-size: 18px;
      border-left: 1.8px solid red;
      border-right: 1.8px solid red;
      background-color: rgba(255, 0, 0, 0.3);
      text-align: left;
    }
  }
}
@media (max-width: 1080px) {
  .tips {
    div {
      font-size: 1.5em;
    }
    &__ally {
      li {
        font-size: 1em;
      }
    }
    &__enemy {
      li {
        font-size: 1em;
      }
    }
  }
}

@media (max-width: 900px) {
  .tips {
    div {
      font-size: 1.2em;
    }
    &__ally {
      li {
        font-size: 0.9em;
      }
    }
    &__enemy {
      li {
        font-size: 0.9em;
      }
    }
  }
}

@media (max-width: 720px) {
  .tips {
    div {
      font-size: 1.1em;
    }
    &__ally {
      li {
        font-size: 0.8em;
      }
    }
    &__enemy {
      li {
        font-size: 0.8em;
      }
    }
  }
}
@media (max-width: 480px) {
  .tips {
    div {
      font-size: 0.9em;
    }
    &__ally {
      li {
        font-size: 0.6em;
      }
    }
    &__enemy {
      li {
        font-size: 0.6em;
      }
    }
  }
}
@media (max-width: 375px) {
  .tips {
    div {
      font-size: 0.7em;
    }
    &__ally {
      li {
        font-size: 0.4em;
      }
    }
    &__enemy {
      li {
        font-size: 0.4em;
      }
    }
  }
}
