$title-size: 30px;
$lora: "Lora", serif;
$sourceSansFont: "Source Sans Pro", italic;
$dark-gold: #7e633b;
$light-gold: #da9f47;
$goldenrod: #daa520ff;
$golden-brown: #866513ff;
$titlesFont: "Anton", sans-serif;
$secondaryFont: "Righteous", cursive;
@import url("https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Angkor&family=Lobster+Two:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Blaka+Ink&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Source+Sans+Pro:ital,wght@0,300;1,300&family=Trade+Winds&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap");
