.navbar {
  position: fixed;
  height: 100px;
  left: 5%;
  right: 5%;
  width: 90%;
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: rgba(26, 25, 34);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1.5px solid #7e633b;

  .logo {
    background-image: url("./logos/League-of-Info-m.png");
    background-position: center;
    background-size: 100%;
    margin-left: 3%;
    width: 20%;
    height: 50px;
  }
  .type-list {
    display: flex;
    width: 50%;
    justify-content: center;
    padding-right: 20px;

    li {
      background-color: rgb(26, 25, 34);
      color: white;
      border: none;
      padding: 10px 1%;
      margin: 20px 0px;
      font-size: 20px;
      text-transform: uppercase;
      list-style: none;
      font-weight: 600;
      &:hover {
        cursor: pointer;
        color: #d59930;
      }
    }
  }
}

.input-container {
  position: relative;
  width: 200px;

  input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: rgb(26, 25, 34);
    border-radius: 5px;
    outline: none;
    color: white;

    &:valid ~ span,
    &:focus ~ span {
      // font-weight: 600;

      color: #ccaa76;
      transform: translateX(55px) translateY(-3px);
      font-size: 0.5em;
      padding: 0 10px;
      background-color: rgb(26, 25, 34);
      border-right: 1px solid #7e633b;
      border-left: 1px solid #7e633b;
      letter-spacing: 0.2em;
      transition: 0.5s;
    }
  }

  span {
    transition: 0.5s;

    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: white;
    text-transform: uppercase;
  }
}
@media (max-width: 320px) {
  .navbar {
    height: 50px;
    width: 99%;
    left: 0;
    .logo {
      display: none;
    }
    .type-list {
      display: flex;
      width: 70%;
      padding: 0;
      li {
        font-size: 4px;
      }
    }
  }

  .input-container {
    width: 20%;

    input {
      height: 0.1em;
      width: 50%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(1px);
        font-size: 2px;
        padding: 0 5px;
      }
    }

    span {
      font-size: 3px;
    }
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  .navbar {
    height: 50px;
    left: 0;
    right: 0;
    width: 99%;
    .logo {
      display: none;
    }
    .type-list {
      width: 60%;
      padding-left: 20px;
      padding-right: 30px;
      li {
        font-size: 5px;
        font-weight: 700;
      }
    }
  }

  .input-container {
    position: relative;
    width: 30%;

    input {
      height: 0.1em;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(1px);
        font-size: 2px;
        padding: 0px;
      }
    }

    span {
      font-size: 4px;
    }
  }
}
@media (min-width: 375px) and (max-width: 480px) {
  .navbar {
    left: 0;
    right: 0;
    // margin: 0 auto;
    height: 50px;
    width: 99%;
    .logo {
      display: none;
    }
    .type-list {
      width: 70%;
      padding: 0 10px;

      li {
        font-size: 7px;
        font-weight: 700;
      }
    }
  }

  .input-container {
    width: 30%;

    input {
      height: 0.1em;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(10px) translateY(0px);
        font-size: 4px;
        padding: 0 10px;
      }
    }

    span {
      font-size: 5px;
    }
  }
}
@media (min-width: 481px) and (max-width: 720px) {
  .navbar {
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 70px;
    width: 95%;
    .logo {
      background-repeat: no-repeat;
      width: 50%;
    }
    .type-list {
      width: 70%;
      padding: 0 20px;
      li {
        font-size: 7.5px;
      }
    }
  }

  .input-container {
    input {
      height: 0.2em;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(-1px);
        font-size: 5px;
        padding: 0 10px;
      }
    }

    span {
      font-size: 7px;
    }
  }
}
@media (min-width: 721px) and (max-width: 900px) {
  .navbar {
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 70px;
    width: 95%;
    .logo {
      background-size: 100%;
      background-repeat: no-repeat;
    }
    .type-list {
      width: 70%;
      padding: 0 10px;
      li {
        font-size: 11px;
        font-weight: 600;
      }
    }
  }

  .input-container {
    input {
      height: 0.1em;
      font-size: 10px;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(0px);
        font-size: 5px;
        padding: 0 10px;
      }
    }

    span {
      font-size: 6px;
    }
  }
}

@media (min-width: 901px) and (max-width: 1080px) {
  .navbar {
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 70px;
    width: 95%;
    .logo {
      background-image: url("./logos/League-of-Info-s.png");
      background-size: 110%;
      background-repeat: no-repeat;
      margin-left: 3%;
      width: 20%;
      height: 50px;
    }

    .type-list {
      width: 70%;
      padding: 0 10px;
      li {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .input-container {
    input {
      height: 0.4em;
      font-size: 10px;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(-1px);
        font-size: 5px;
        padding: 0 10px;
      }
    }

    span {
      font-size: 6px;
    }
  }
}

@media (min-width: 1081px) and (max-width: 1440px) {
  .navbar {
    margin: 0 auto;
    height: 70px;
    .logo {
      background-image: url("./logos/League-of-Info-m.png");

      background-repeat: no-repeat;
      margin-left: 3%;
      width: 20%;
      height: 50px;
    }
    .type-list {
      display: flex;
      width: 70%;
      padding: 0 10px;
      li {
        font-size: 13px;
        font-weight: 700;
      }
    }
  }

  .input-container {
    width: 30%;
    input {
      height: 0.4em;
      width: 40%;
      &:valid ~ span,
      &:focus ~ span {
        color: #ccaa76;
        transform: translateX(15px) translateY(-3px);
        font-size: 5px;
        padding: 0 10px;
      }
    }

    span {
      font-size: 7px;
    }
  }
}
