@import "../../theme/variables.scss";
html {
  min-width: 100%;
  width: 100%;
}
.champion__wrapper {
  .champion {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;

    .profile {
      position: relative;
      height: 716px;
      text-align: center;

      &__title {
        text-transform: uppercase;
        font-family: $secondaryFont;
        width: 100%;
        color: white;
        font-size: 70px;
        padding-bottom: 10px;
      }
      &__avatar {
        margin-top: 20px;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        top: 0%;
        left: 0%;
        height: 716px;
        width: 100%;
        background-size: cover;
        background-position: top;
        box-shadow: inset 0px -10px 100px 100px rgba(0, 0, 0, 1);
      }
    }
    .border-subtitle {
      margin-top: 40px;

      border: 13px groove goldenrod;
      color: white;
      font-size: 40px;
      border-bottom: 0px;

      position: relative;
      height: 50px;
      text-align: center;

      span {
        padding: 8px 35px;
        margin: 0 auto;
        background-color: black;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        position: relative;
        top: -40px;
        border-left: 2px solid goldenrod;
        border-right: 2px solid goldenrod;
        border-bottom: 3px solid rgb(218, 165, 32);
        box-shadow: 0px 16px 20px -13px rgba(212, 194, 0, 1);
        font-family: $secondaryFont;
      }
    }

    .wrapper-bigger {
      border: 13px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        width: 80%;
        margin: 0 auto;
        border: 10px double $dark-gold;
        padding: 0 30px 0 30px;
        margin-bottom: 50px;
      }
    }
  }
  .back-to-main {
    display: flex;
    position: fixed;
    left: 20px;
    top: 20px;
    font-size: 40px;
    color: $golden-brown;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 55px;
    height: 45px;
    border: 4px solid $golden-brown;
    border-radius: 15px;
    background-color: $goldenrod;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

@media (max-width: 1360px) {
  .champion {
    width: 100%;
    .profile {
      height: 25em;
      &__title {
        font-size: 64px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 12px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 36px;
      }
    }

    .wrapper-bigger {
      border: 12px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 8px double $dark-gold;
        border-top: none;
      }
    }
  }
}
@media (max-width: 1180px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        font-size: 44px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        // box-shadow: inset 0px -20px 72px 64px rgb(0, 0, 0);
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 26px;
      }
    }

    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 5px double $dark-gold;
        border-top: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        font-size: 44px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 26px;
        font-family: $sourceSansFont;
      }
    }

    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 5px double $dark-gold;
        border-top: none;
      }
    }
  }
  //   .stat-span {
  //     font-size: 1220px;
  //   }
  //   .tips-span {
  //   }
  // }
}

@media (max-width: 480px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        padding-bottom: 20px;
        font-size: 34px;
      }
      &__avatar {
        margin-top: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;

        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -100px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      margin-top: 10px;
      span {
        font-size: 16px;
      }
    }

    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      padding: 0px;
      .wrapper-smaller {
        border: none;
        border-top: none;
        padding: 10px 0;
      }
    }
  }
}
