$title-size: 30px;
$lora: "Lora", serif;
$dark-gold: #7e633b;
html {
  min-width: 100%;
  width: 100%;
}
.champion {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;

  .profile {
    position: relative;
    height: 716px;
    text-align: center;

    &__title {
      text-transform: uppercase;
      font-family: "Permanent Marker", cursive;
      width: 100%;
      color: white;
      font-size: 70px;
      padding-bottom: 10px;
    }
    &__avatar {
      margin-top: 20px;
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 0%;
      left: 0%;
      height: 716px;
      width: 100%;
      background-size: cover;
      background-position: 00% center;
      box-shadow: inset 0px -40px 100px 100px rgba(0, 0, 0, 1);
    }
  }
  .border-subtitle {
    margin-top: 40px;
    font-family: "Courgette", cursive;
    border: 13px groove goldenrod;
    color: white;
    font-size: 40px;
    border-bottom: 0px;

    position: relative;
    height: 50px;
    text-align: center;

    span {
      padding: 8px 35px;
      margin: 0 auto;
      background-color: black;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      position: relative;
      top: -40px;
      border-left: 2px solid goldenrod;
      border-right: 2px solid goldenrod;
      border-bottom: 3px solid rgb(218, 165, 32);
      box-shadow: 0px 16px 20px -13px rgba(212, 194, 0, 1);
    }
  }
  .about {
    border-right: 13px groove goldenrod;
    border-left: 13px groove goldenrod;
    &__title {
      font-size: 30px;
      margin: 0 auto;
      border: 10px double $dark-gold;

      margin-top: 25px;
      color: white;

      font-family: "Lora", serif;
      width: 80%;
      border-bottom: none;
      text-align: center;
      padding: 30px;
      color: white;
    }
    &__champion-history {
      margin: 0 auto;
      border-left: 10px double $dark-gold;
      border-right: 10px double $dark-gold;

      color: white;
      font-size: 20px;
      font-family: "Lora", serif;
      width: 80%;
      border-bottom: none;
      text-align: center;
      padding: 30px;
    }
  }
  .wrapper-bigger {
    border: 13px groove goldenrod;
    border-top: none;
    .wrapper-smaller {
      width: 80%;
      margin: 0 auto;
      border: 10px double $dark-gold;

      padding: 30px;
      margin-bottom: 50px;
      border-top: none;
    }
  }
}
.stat-span {
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Courgette", cursive;
  margin-top: 34px;
  display: block;
  font-size: 40px;
  margin-bottom: 36px;
}
.tips-span {
  width: 100%;
  color: white;
  border-top: 1.8px solid rgb(72, 0, 0);
  border-right: 1.8px solid rgb(72, 0, 0);
  border-left: 1.8px solid rgb(72, 0, 0);
  font-family: "Courgette", cursive;
  margin-top: 34px;
  display: block;
  padding: 20px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1360px) {
  .champion {
    width: 100%;
    .profile {
      height: 25em;
      &__title {
        font-size: 64px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        // box-shadow: inset 0px -20px 72px 64px rgb(0, 0, 0);
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 12px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 36px;
        font-size: $lora;
      }
    }
    .about {
      border-right: 12px groove goldenrod;
      border-left: 12px groove goldenrod;
      &__title {
        font-size: 2em;
        border: 8px double $dark-gold;
        border-bottom: none;
      }
      &__champion-history {
        font-size: 1.1em;
        border-left: 8px double $dark-gold;
        border-right: 8px double $dark-gold;
      }
    }
    .wrapper-bigger {
      border: 12px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 8px double $dark-gold;
        border-top: none;
      }
    }
  }
}
@media (max-width: 1180px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        font-size: 44px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        // box-shadow: inset 0px -20px 72px 64px rgb(0, 0, 0);
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 26px;
        font-size: $lora;
      }
    }
    .about {
      border-right: 7px groove goldenrod;
      border-left: 7px groove goldenrod;
      &__title {
        font-size: 1.5em;
        border: 5px double $dark-gold;
        border-bottom: none;
      }
      &__champion-history {
        font-size: 1em;
        border-left: 5px double $dark-gold;
        border-right: 5px double $dark-gold;
      }
    }
    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 5px double $dark-gold;
        border-top: none;
      }
    }
  }
}

@media (max-width: 900px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        font-size: 44px;
      }
      &__avatar {
        margin-top: 5px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        // box-shadow: inset 0px -20px 72px 64px rgb(0, 0, 0);
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -50px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 26px;
        font-size: $lora;
      }
    }
    .about {
      border-right: 7px groove goldenrod;
      border-left: 7px groove goldenrod;
      &__title {
        font-size: 1.5em;
        border: 5px double $dark-gold;
        border-bottom: none;
      }
      &__champion-history {
        font-size: 1em;
        border-left: 5px double $dark-gold;
        border-right: 5px double $dark-gold;
      }
    }
    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: 5px double $dark-gold;
        border-top: none;
      }
    }
  }
  //   .stat-span {
  //     font-size: 1220px;
  //   }
  //   .tips-span {
  //   }
  // }
}
// @media (max-width: 720px) {
// }
@media (max-width: 480px) {
  .champion {
    width: 100%;
    .profile {
      height: 20em;
      &__title {
        padding-bottom: 20px;
        font-size: 34px;
      }
      &__avatar {
        margin-top: 0px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 50% 15%;
        height: 100%;
        // box-shadow: inset 0px -20px 72px 64px rgb(0, 0, 0);
        box-shadow: inset -30px 10px 12px 14px rgba(0, 0, 0, 0.8),
          inset 30px -100px 12px 14px rgba(0, 0, 0, 0.8);
      }
    }
    .border-subtitle {
      border: 7px groove goldenrod;
      border-bottom: none;
      span {
        font-size: 16px;
        font-size: $lora;
      }
    }
    .about {
      border-right: 7px groove goldenrod;
      border-left: 7px groove goldenrod;
      &__title {
        margin-top: 0;
        font-size: 1.2em;
        border: none;
      }
      &__champion-history {
        font-size: 0.8em;
        border-left: none;
        border-right: none;
      }
    }
    .wrapper-bigger {
      border: 7px groove goldenrod;
      border-top: none;
      .wrapper-smaller {
        border: none;
        border-top: none;
      }
    }
  }
}
@media (max-width: 220px) {
}
