$title-size: 30px;
$lora: "Lora", serif;
$dark-gold: #7e633b;
.champion {
  width: 100%;
  display: flex;
  flex-direction: column;

  .profile {
    position: relative;
    height: 716px;
    text-align: center;

    &__title {
      text-transform: uppercase;
      font-family: "Permanent Marker", cursive;
      width: 100%;
      color: white;
      font-size: 70px;
      padding-bottom: 10px;
    }
    &__avatar {
      margin-top: 20px;
      display: flex;
      flex-direction: column-reverse;
      position: absolute;
      top: 0%;
      left: 0%;
      height: 716px;
      width: 100%;
      background-size: cover;
      background-position: center;
      box-shadow: inset 0px -40px 100px 100px rgba(0, 0, 0, 1);
    }
  }
  .border-subtitle {
    margin-top: 40px;
    font-family: "Courgette", cursive;
    border: 13px groove goldenrod;
    color: white;
    font-size: 40px;
    border-bottom: 0px;
    // width: 100%;
    position: relative;
    height: 50px;
    text-align: center;

    span {
      padding: 8px 35px;
      margin: 0 auto;
      background-color: black;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      position: relative;
      top: -40px;
      border-left: 2px solid goldenrod;
      border-right: 2px solid goldenrod;
      border-bottom: 3px solid rgb(218, 165, 32);
      box-shadow: 0px 16px 20px -13px rgba(212, 194, 0, 1);
    }
  }
  .about {
    border-right: 13px groove goldenrod;
    border-left: 13px groove goldenrod;
    &__title {
      font-size: 30px;
      margin: 0 auto;
      border: 10px double $dark-gold;
      // border: 10px ridge rgb(80, 79, 79);
      // border: 10px groove rgb(80, 79, 79);
      margin-top: 25px;
      color: white;

      font-family: "Lora", serif;
      width: 80%;
      border-bottom: none;
      text-align: center;
      padding: 30px;
      color: white;
    }
    &__champion-history {
      margin: 0 auto;
      border-left: 10px double $dark-gold;
      border-right: 10px double $dark-gold;
      // border-left: 10px groove rgb(80, 79, 79);
      // border-right: 10px groove rgb(80, 79, 79);
      color: white;
      font-size: 20px;
      font-family: "Lora", serif;
      width: 80%;
      border-bottom: none;
      text-align: center;
      padding: 30px;
    }
  }
  .wrapper-bigger {
    border: 13px groove goldenrod;
    border-top: none;
    .wrapper-smaller {
      width: 80%;
      margin: 0 auto;
      border: 10px double $dark-gold;
      // border: 10px inset rgb(80, 79, 79);
      padding: 30px;
      margin-bottom: 50px;
      border-top: none;

      // .skins {
      //   margin: 0px auto;
      //   margin-bottom: 0;
      //   width: 100%;
      //   h4 {
      //     color: white;
      //     text-align: center;
      //     font-size: $title-size;
      //     font-family: $lora;
      //     margin-top: 50px;
      //   }
      // }
    }
  }
}
.stat-span {
  width: 100%;
  color: white;
  text-align: center;
  font-family: "Courgette", cursive;
  margin-top: 34px;
  display: block;
  font-size: 40px;
  margin-bottom: 36px;
}
.tips-span {
  width: 100%;
  color: white;
  border-top: 1.8px solid rgb(72, 0, 0);
  border-right: 1.8px solid rgb(72, 0, 0);
  border-left: 1.8px solid rgb(72, 0, 0);
  font-family: "Courgette", cursive;
  margin-top: 34px;
  display: block;
  padding: 20px 0;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
